.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    .toggle-button_line{
        width: 20px;
        height: 2px;
        background: white;
    }
}

.toggle-button:focus{
    outline: none;
}
$desktop: 840px;
    @media (min-width: #{$desktop}){
        .toggle-button{
            display: none;
        }
    }